<h1>Welcome to GoRails!</h1>
<p class="lead">
  <% ab_test(:sign_up_link_class, "btn-link", "btn-primary") do |alternative| %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn #{alternative}" %>
  <% end %>
</p>
